appdirs==1.4.4
awscli==1.18.71
bcrypt==3.1.7
boto==2.49.0
boto3==1.16.56
botocore==1.19.56
certifi==2020.12.5
cffi==1.14.0
chardet==4.0.0
colorama==0.4.4
Cython==0.29.19
DateTime==4.3
distlib==0.3.1
docutils==0.15.2
escape==1.1
et-xmlfile==1.0.1
filelock==3.0.12
idna==2.10
jdcal==1.4.1
jmespath==0.10.0
keyring==21.8.0
numpy==1.19.5
objectpath==0.6.1
openpyxl==3.0.6
pandas==1.2.0
pathlib==1.0.1
pyasn1==0.4.8
pycparser==2.20
pymongo==3.11.2
python-dateutil==2.8.1
pytz==2020.5
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.25.1
rsa==3.4.2
s3transfer==0.3.4
six==1.15.0
urllib3==1.26.2
virtualenv==20.3.0
zope.interface==5.2.0
